/*base css*/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100%;
    background: var(--body-color);
    z-index: 1000;
    font-family: var(--lato);
    transition: .3s ease;
    overflow-x: hidden;
}

#sidebar .brand {
    font-size: 24px;
    font-weight: 700;
    height: 56px;
    display: flex;
    align-items: center;
    color: var(--title-color);
    position: sticky;
    top: 0;
    left: 0;
    background: var(--body-color);
    z-index: 500;
    padding-bottom: 20px;
    box-sizing: content-box;
}

#sidebar .brand .uil {
    min-width: 60px;
    display: flex;
    justify-content: center;
}

#sidebar .brand .project_pic {
    min-width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 6px 0 3px;
}

#sidebar .side-menu {
    width: 100%;
    margin-top: 48px;
}

#sidebar .side-menu li {
    height: 48px;
    background: transparent;
    margin-left: 6px;
    border-radius: 48px 0 0 48px;
    padding: 4px;
}

#sidebar .side-menu li a {
    width: 100%;
    height: 100%;
    background: var(--body-color);
    display: flex;
    align-items: center;
    border-radius: 48px;
    font-size: 16px;
    color: var(--title-color);
    white-space: nowrap;
    overflow-x: hidden;
}

#sidebar .side-menu li a .uil {
    min-width: calc(60px - ((4px + 6px) * 2));
    display: flex;
    justify-content: center;
}

/*base css*/

/*other addons*/
#sidebar .side-menu.top li a:hover {
    color: var(--first-color);
}

#sidebar .side-menu li.active {
    background: var(--body-color-darker);
    position: relative;
}

#sidebar .side-menu.top li.active a {
    color: var(--first-color-second);
}

#sidebar .side-menu li.active::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    top: -40px;
    right: 0;
    box-shadow: 20px 20px 0 var(--body-color-darker);
    z-index: -1;
}

#sidebar .side-menu li.active::after {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    bottom: -40px;
    right: 0;
    box-shadow: 20px -20px 0 var(--body-color-darker);
    z-index: -1;
}

#sidebar .side-menu li a.logout {
    color: var(--red);
}

#sidebar.hide {
    width: 60px;
}

#sidebar.hide .side-menu li a {
    width: calc(48px - (4px * 2));
    transition: width .3s ease;
}

@media screen and (max-width: 768px) {
    #sidebar {
        width: 200px;
    }
}
