/* @extend display-flex; */
.signup-content, .signin-content, .social-login {
    display: flex;
    display: -webkit-flex;
}

/*Modal CSS*/
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
    background-color: var(--body-color);
    margin: 15% auto;
    padding: 20px;
    border: 1px solid var(--body-color-darker);
    border-radius: 10px;
    width: 60%;
}

.modal__text__notice {
    color: var(--first-color);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.modal__text__success {
    color: var(--green);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.modal__text__error {
    color: var(--red);
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    width: fit-content;
    margin: auto;
}

.modal__text {
    margin: auto;
    text-align: center;
    color: var(--title-color);
    width: 500px;
}

.modal_button {
    color: var(--title-color);
    background-color: var(--red);
    border-radius: 10px;
    padding: 10px;
    display: flex;
    width: fit-content;
    margin: auto;
    align-items: center;
}

/* The Close Button */
.close {
    color: var(--title-color);
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/*-----------------------------------------------------------------------------------------------------*/
a:focus, a:active {
    text-decoration: none;
    outline: none;
    transition: all 300ms ease 0s;
    -moz-transition: all 300ms ease 0s;
    -webkit-transition: all 300ms ease 0s;
    -o-transition: all 300ms ease 0s;
    -ms-transition: all 300ms ease 0s;
}

.form-group input, select, textarea {
    outline: none;
    appearance: unset !important;
    -moz-appearance: unset !important;
    -webkit-appearance: unset !important;
    -o-appearance: unset !important;
    -ms-appearance: unset !important;
}

.form-group input::-webkit-outer-spin-button, .form-group input::-webkit-inner-spin-button {
    appearance: none !important;
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    -o-appearance: none !important;
    -ms-appearance: none !important;
    margin: 0;
}

.form-group input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: none !important;
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -o-box-shadow: none !important;
    -ms-box-shadow: none !important;
}

.form-group input[type=checkbox] {
    appearance: checkbox !important;
    -moz-appearance: checkbox !important;
    -webkit-appearance: checkbox !important;
    -o-appearance: checkbox !important;
    -ms-appearance: checkbox !important;
}

.form-group input[type=radio] {
    appearance: radio !important;
    -moz-appearance: radio !important;
    -webkit-appearance: radio !important;
    -o-appearance: radio !important;
    -ms-appearance: radio !important;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin-bottom: 0;
    font-size: 15px;
    color: var(--title-color)
}

h2 {
    line-height: 1.66;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #222;
    font-family: Poppins, serif;
    font-size: 36px;
}

.clear {
    clear: both;
}

body {
    margin: 0 0 var(--header-height) 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--body-color);
    color: var(--text-color);
}

.login__container {
    width: 900px;
    background: var(--body-color);
    margin: 81px auto;
    border-radius: 20px;
    border: solid var(--title-color) 5px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    -ms-border-radius: 20px;
}

.signup {
    margin-bottom: 150px;
}

.signup-content {
    padding: 75px 0;
}

.signup-form, .signup-image, .signin-form, .signin-image {
    width: 50%;
    overflow: hidden;
}

.signup-image {
    margin: 0 55px;
}

.form-title {
    color: var(--title-color);
    margin-bottom: 33px;
}

.signup-image {
    margin-top: 45px;
}


.form-submit {
    display: inline-block;
    background: var(--first-color);
    border: solid var(--first-color) 1px;
    color: #fff;
    border-bottom: none;
    width: auto;
    padding: 15px 39px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    margin-top: 25px;
    cursor: pointer;
}

.form-submit:hover {
    background: #4292dc;
}

#signin {
    margin-top: 16px;
}

.signup-image-link {
    font-size: 14px;
    color: var(--title-color);
    display: block;
    text-align: center;
    width: fit-content;
    margin: auto;
}

.signup-form {
    margin-left: 75px;
    margin-right: 75px;
    padding-left: 34px;
}

.register-form {
    width: 100%;
}

.form-group {
    position: relative;
    margin-bottom: 25px;
    overflow: hidden;
}

.select_options {
    display: flex;
    justify-content: space-between;
}

.select_options div {
    display: flex;
}

.select_options div input {
    width: 20px;
    margin-left: 22px;
}

#team_notice {
    margin: 5px -49px;
    color: var(--first-color); /* assuming --first-color is defined somewhere in your css as a valid color */
    background-color: #f2f2f2; /* light grey background */
    padding: 10px; /* padding around the text */
    border-radius: 5px; /* rounded corners */
    display: inline-block; /* so that padding and border-radius are applied */
    transition: background-color 0.3s ease; /* smooth transition for background color */
    font-size: 0.8em;
    width: 486px;
}

#team_notice:empty {
    background-color: transparent; /* no background color when span is empty */
}

.form-group:last-child {
    margin-bottom: 0;
}

.form-group input, .form-group select {
    color: var(--title-color);
    width: 100%;
    display: block;
    background: transparent;
    border: none;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins, serif;
    box-sizing: border-box;
}

.form-group textarea {
    color: var(--title-color);
    width: 100%;
    display: block;
    background: transparent;
    border-bottom: 1px solid #999;
    padding: 6px 30px;
    font-family: Poppins, serif;
    box-sizing: border-box;
}

.form-group label uil {
    color: var(--title-color);
}

.form-group input::-webkit-input-placeholder {
    color: var(--title-color);
}

.form-group input::-moz-placeholder {
    color: var(--title-color);
}

.form-group input:-ms-input-placeholder {
    color: var(--title-color);
}

.form-group input:-moz-placeholder {
    color: var(--title-color);
}

.form-group input:focus {
    border-bottom: 1px solid #222;
}

.form-group input:focus::-webkit-input-placeholder {
    color: var(--title-color);
}

.form-group input:focus::-moz-placeholder {
    color: var(--title-color);
}

.form-group input:focus:-ms-input-placeholder {
    color: var(--title-color);
}

.form-group input:focus:-moz-placeholder {
    color: var(--title-color);
}

.form-group label {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    color: var(--title-color);
}

#task-team-manager, #task-individual {
    display: none;
}

.label-agree-term {
    position: relative;
    top: 0;
    transform: translateY(0);
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    -o-transform: translateY(0);
    -ms-transform: translateY(0);
}

.signin-content {
    padding-top: 67px;
    padding-bottom: 87px;
}

.social-login {
    justify-content: space-evenly;
    align-items: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    -o-align-items: center;
    -ms-align-items: center;
    margin-top: 80px;
}

#google-signin-button {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background: var(--input-color);
    color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 4px;
    cursor: pointer;
}

#reset-password {
    width: 144px;
    padding: 5px;
    margin-left: 10px;
    background: var(--input-color);
    color: var(--title-color);
    border: 1px solid var(--title-color);
    border-radius: 4px;
    cursor: pointer;
}

.google-icon {
    width: 18px;
    height: 18px;
    background-size: cover;
    margin-right: 10px;
}


.social-label {
    display: inline-block;
    margin-right: 15px;
    color: var(--title-color);
}

.signin-form {
    margin-right: 90px;
    margin-left: 80px;
}

.signin-image {
    margin-left: 110px;
    margin-right: 20px;
    margin-top: 10px;
}

@media screen and (max-width: 1200px) {
    .login__container {
        width: calc(100% - 30px);
        max-width: 100%;
    }
}

@media screen and (min-width: 1024px) {
    .login__container {
        max-width: 1200px;
    }
}

@media screen and (max-width: 768px) {
    .signup-content, .signin-content {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
    }

    .signup-form {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding: 0 30px;
    }

    .signin-image {
        margin-left: 0;
        margin-right: 0;
        margin-top: 50px;
        order: 2;
        -moz-order: 2;
        -webkit-order: 2;
        -o-order: 2;
        -ms-order: 2;
    }

    .signup-form, .signin-form {
        width: auto;
    }

    .signin-image, .signup-image {
        display: none;
    }

    .social-login {
        flex-direction: column;
        justify-content: center;
        -moz-justify-content: center;
        -webkit-justify-content: center;
        -o-justify-content: center;
        -ms-justify-content: center;
    }

    #reset-password {
        width: 129px;
        padding: 5px;
        margin-top: 10px;
    }

    .form-button {
        text-align: center;
    }

    .signin-form {
        order: 1;
        -moz-order: 1;
        -webkit-order: 1;
        -o-order: 1;
        -ms-order: 1;
        margin-right: 0;
        margin-left: 0;
        padding: 0 30px;
    }

    .form-title {
        text-align: center;
    }
}

@media screen and (max-width: 400px) {
    .social-login {
        flex-direction: column;
        -moz-flex-direction: column;
        -webkit-flex-direction: column;
        -o-flex-direction: column;
        -ms-flex-direction: column;
    }

    .social-label {
        margin-right: 0;
        margin-bottom: 10px;
    }
}
